/*establece estilo a la cabecera*/
header{
    background-color: rgb(240, 220, 42);
    padding: 10%;
    text-align: center;
    border-top: 10px solid rgb(204, 84, 29);
    border-bottom: 10px solid rgb(209, 64, 20);
    color: rgb(173, 50, 19);
}
/*establece estilo a la imagen*/
.imagen-intine{
    width: 200px;
    height: auto;
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 5px;
}
/*estilo para la barra de navegacion*/
.navbar ul{
    background-color: rgb(155, 105, 30);
    list-style:none;
    display:flex;
    justify-content: flex-start;
    padding: 0;
    gap: 15px;
    margin: 0;
}
.navbar li a.btn{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(209, 64, 20);
    color:rgb(185, 94, 33);
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
}
.navbar li a.btn:hover{
    background: rgb(211, 138, 28);
}
/*establece estilo para los botones*/
.btn-nav{
    background-color:rgb(104, 214, 15);
    color: rgb(0, 0, 0);
    border: 10x solid rgb(25, 116, 13);
    padding: 15px 32px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    font-family: sans-serif;
}
/*Estilo para cuando se pasa el cursor sobre los botones*/
.btn-nav:hover{
    background-color: rgb(255, 94, 0);
    color:rgb(185, 94, 33);
}
.contenedor{
    display:flex;
    width:100vw;
}
.articulo{
    background-color: rgb(211, 138, 28);
    flex: 3;
    padding:20px;
}
.pie{
    background-color: rgb(104, 214, 15);
}
.propaganda{
    background-color: rgb(241, 106, 28);
    flex: 1;
    padding: 20px;
}